
@media screen and (max-width: 991px){
	html{
		font-size: 55%;
	}
	section{
		padding: 2rem;
	}
	.header{
		padding: 2rem;
	}
	.home{
		text-align: center;
	}
	.home .row .content{
		padding-top: 20rem;
	}
}
@media screen and (max-width: 768px){
	#menu-btn{
		display: inline-block;
	}
	.fa-times{
		transform: rotate(90deg);
	}
	.header .navbar{
		position: absolute;
		top: 99%; left: 0; right: 0;
		background: #fff;
		clip-path: polygon(20% 0%, 80% 0%, 100% 0, 0 0);
	}
	.header .navbar.active{
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
	.header .navbar a{
		display: block;
		font-size: 2.2rem;
		margin: 0;
		padding: 1.5rem 2rem;
	}
	.menu .box-container .box{
		margin-left: 0;
		margin-top: 6rem;
		flex-flow: column;
		text-align: center;
	}
	.menu .box-container .box img{
		margin-left: 0;
		margin-top: -11rem;
	}
}
@media screen and (max-width: 450px){
	html{
		font-size: 50%;
	}
	.heading{
		font-size: 6rem;
	}
	.heading span{
		font-size: 2.3rem;
	}
}
@media screen and (max-width: 320px){

	.home .row .content h3{
		font-size: 5rem;
	}
	.heading{
		font-size: 5rem;
	}
}